.container {
  display: flex;
  flex-direction: column;

  height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  justify-content: flex-end;
  height: 50vh;
  min-height: 300px;
}

.body {
  height: 50vh;
}
