.button {
  min-width: 160px;
  min-height: 36px;

  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 1);
  border: none;

  cursor: pointer;

  flex: 0;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
