.button {
  min-width: 160px;
  min-height: 36px;

  text-transform: uppercase;
  border: none;

  font-size: 16px;
  padding: 15px 0;

  cursor: pointer;
}

.primary {
  color: #0288d1;
  background-color: rgba(255, 255, 255, 1);
}

.primary:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.secondary {
  color: #fff;
  background-color: rgba(65, 64, 66, 1);
}

.secondary:hover {
  background-color: rgba(65, 64, 66, 0.8);
}
