.heading {
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  font-size: 14px;
  font-weight: 600;
}

.body {
  margin: 0;

  text-align: center;
  color: #c7c9ca;

  font-size: 18px;
  font-weight: 400;
}
