.heading {
  text-align: center;
  text-transform: uppercase;
  color: var(--secondary);

  font-size: 14px;
  font-weight: 600;
}

.body {
  margin: 0;

  text-align: center;
  color: var(--secondaryAlternate);

  font-size: 18px;
  font-weight: 400;
}
