.container {
  width: 100%;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.heading {
  display: flex;
  align-items: center;

  min-height: 38px;
  margin: 0;
  padding: 0;
  text-align: left;
  color: var(--tertiary);
  background-color: var(--secondaryAlternate);
}

.headingInner,
.itemInner {
  max-width: 360px;
  width: 100vw;
  margin: 0 auto;
  padding: 0 15px;
}

.item {
  display: flex;
  align-items: center;

  min-height: 46px;

  border-bottom: 1px solid var(--secondaryAlternate);
  background-color: var(--secondary);
}

.item:last-child {
  border-bottom: none;
}

.item:hover {
  background: var(--secondaryAlternate);
}
