.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  max-width: 500px;
  margin: 0 auto;

  padding: 30px;
}

.title {
  margin-top: 20px;
}

.body {
  margin-bottom: 0;
}

.image {
  position: relative;
}

.imageStacked {
  position: absolute;
  top: 0;
  left: 0;
}

.step {
  width: 32px;
  height: 32px;
  line-height: 32px;

  margin-top: 16px;

  text-align: center;

  border-radius: 50%;

  color: #0288d1;
  background-color: #fff;
}
