.container {
  height: 100vh;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  justify-content: flex-end;
  height: 60vh;
}

.body {
  height: 40vh;
  justify-content: flex-start;

  background-color: #eeeeee;
}
